header(ng-bind="profile.title")

md-content(layout="column", class="md-padding")
  h1(ng-bind="profile.name")

  div(layout="row", class="links-with-tooltip", layout-align="space-around")
    md-button(class="md-fab",
      ng-repeat="link in profile.media",
      aria-label="{{ link.label }}",
      ng-href="{{ link.url }}")

      md-icon(class="md-icon-24",
              icon="./img/icons/{{ link.icon }}")
      md-tooltip {{ link.label }}
