doctype html
html(ng-app="rodolfo2488")
  head
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    title Rodolfo Sanchez | Software Develoer
    meta(name="description", content="Software developer, Front-end UI/UX, Chicago.")
    meta(name="keywords", content="software, developer, front-end, UI, UX, ruby, angular, JavaScript")
    link(rel="stylesheet", href="vendor/stylesheets/angular-material.min.css")
    link(rel="stylesheet", href="stylesheets/application.min.css")

  body(layout="column", layout-align="space-around center")
    div(ui-view, layout="column", layout-align="center center")
    footer &copy; Rodolfo Sanchez. All rights reserved.
    a(href="https://github.com/rodolfo2488/rodolfo2488.github.io")
      img(style="position: absolute; top: 0; right: 0; border: 0;",
          src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67",
          alt="Fork me on GitHub",
          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")
    script(src='./scripts/app.js')

